* {
    padding: 0%;
    margin: 0;
}

body {
    background-color: black;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
}

div {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

menu {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: green;    
}

ul {
    font-family: arial;
    font-size: 20px;
    display: flex;
    padding-left: 10px;
}

li {
    list-style: none;
    padding: 10px 20px;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
    position: relative;
}

a::before {
    content: '';
    width: 0px;
    height: 5px;
    background: #00bcd4;
    position: absolute;
    top: 100%;
    left: 0;
    transition: .8s;
}

li:hover a:before {
    width: 50%;
    transform: translateX(100%);
}